.footer-container{
    background-color: rgb(185, 185, 185);
    padding: 50px 30px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    
}

.footer-sections{
    flex-grow: 1;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-family: sans-serif;
}

.footer-logo-section{
    /* border: 2px solid red; */
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.footer-logo-section .footer-logo-div{
    width: 200px;
    height: 130px;
}
.footer-logo-section .footer-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background: transparent;
}
.footer-social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .footer-social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;
    color: black;
  }
  
  .footer-social-icons a:hover {
    transform: translateY(-5px);
  }
  
  .footer-social-icons a:hover .fa-facebook {
    color: #4267B2; /* Facebook blue */
  }
  
  .footer-social-icons a:hover .fa-instagram {
    color: #E1306C; /* Instagram gradient color */
  }
  
  .footer-social-icons a:hover .fa-youtube {
    color: #FF0000; /* YouTube red */
  }
  
  .footer-social-icons a:hover .fa-twitter {
    color: #1DA1F2; /* Twitter blue */
  }
  
  .footer-social-icons a:hover .fa-linkedin {
    color: #0077B5; /* LinkedIn blue */
  }
  

  /* section 2-------------- */
  .footer-pg-section {
    flex-grow: 1;
    padding:0px 20px;
    /* border: 2px solid red; Background color for the section */
     /* Default text color */
    font-family: 'Arial', sans-serif; /* Font family for the entire section */
  }
  
  .footer-pg-section h1 {
    font-size: 20px; /* Larger font size for the heading */
    color: rgb(3, 3, 3); /* Heading color */
    margin-bottom: 20px; /* Space below the heading */
    font-family: 'Arial', sans-serif; /* Font family for the heading */
    /* text-align: center; */
    font-weight: bold;
  }
  
  .footer-pg-section div {
    display: flex;
    flex-direction: column; /* Arrange links in a column */
    gap: 12px; /* Space between the links */
  }
  
  .footer-pg-section a {
    color: rgb(166, 115, 115); /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-size: 17px ; /* Font size for links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    /* font-family: cursive; */
    letter-spacing: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: transparent;
    
  }
  
  .footer-pg-section a:hover {
    color: #535151; /* Color on hover */
    text-decoration: underline;
  }

  /* section 4 */

  .footer-links-section {
    /* border: 2px solid red; */
    flex-grow: 1;
    padding: 0px 20px;
    color: white; /* Default text color */
    font-family: 'Arial', sans-serif; /* Font family for the entire section */
  }
  
  .footer-links-section h1 {
    font-size: 20px; /* Larger font size for the heading */
    color: rgb(0, 0, 0); /* Heading color */
    margin-bottom: 20px; /* Space below the heading */
    font-family: 'Arial', sans-serif; /* Font family for the heading */
    font-weight: bold;
  }
  
  .footer-links-section .text-white {
    display: flex;
    flex-direction: column; /* Arrange links in a column */
    gap: 20px; /* Space between the links */
    justify-content: start;
    align-items: start;
    /* background-color: white; */
  }
  
  .footer-links-section .text-white a {
    color: rgb(179, 125, 125); 
    text-decoration: none; /* Remove underline from links */
    font-size: 18px ; /* Font size for links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    /* font-family: cursive; */
    letter-spacing: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
  
  }
  
  .footer-links-section .text-white a:hover {
    color: #535151; /* Color on hover */
    text-decoration: underline; 
  }
  
  
  .active{
    background-color: none;
  }

/* footer-sections footer-logo-section */

@media only screen and (max-width:467px){
  .footer-container{
    
    padding: 10px 10px;
    
    justify-content:  flex-start;
    
}
.footer-sections{

  padding: 10px 5px;

  font-size: 13px;
  
}

.footer-logo-section{
  /* border: 2px solid red; */
  flex-direction: column;
  display: flex;
  padding: 0;
  flex-grow: 1;
  gap: 0;
}

.footer-logo-section .footer-logo-div{
  width: 150px;
  height: 120px;
}
.footer-social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-social-icons a {
  
  justify-content: space-between;
  
  width: 30px;
  height: 30px;
 
 
  padding: 10px;
 
}
.footer-pg-section {
 
  padding:10px 5px;
 /* border: 2px solid yellow; */
}

.footer-pg-section h1 {
  font-size: 13px; /* Larger font size for the heading */
 
  margin-bottom: 10px; /* Space below the heading */
  
}

.footer-pg-section div {
    gap: 10px; /* Space between the links */
}

.footer-pg-section a {
 background-color: transparent;
  font-size: 11px ; /* Font size for links */
 
  
}

.footer-links-section {
  flex-grow: 1;
  padding: 10px 5px;
  
}

.footer-links-section h1 {
  font-size: 14px; /* Larger font size for the heading */
  
  margin-bottom: 10px; /* Space below the heading */
  
}

.footer-links-section .text-white {

  gap: 10px; /* Space between the links */
  
}

.footer-links-section .text-white a {
 
  font-size: 12px ; /* Font size for links */
 
}


}