header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: white;
    height: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    /* Box shadow */
}


.header-logo {
    width: 100px;

    overflow: hidden;
    /* border: 2px solid green; */
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}



.itemlist {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.itemlist li {
    list-style: none;
    font-size: 12px;
    font-weight: 600;
}

.menubar {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.menubar .create-listing {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    border-radius: 30px;

    background-color: rgb(247, 78, 78);
    color: white;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.menubar .loginlink {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 3px;
    font-weight: 400;
    color: rgb(247, 78, 78);
    font-size: 14px;
}

.menubar .create-listing:hover {
    background-color: rgb(204, 38, 38);
}

.menubar button {
    display: flex;
}

.menubar .bar {
    font-size: 24px;
    color: gray;
    display: none;
}

/* profile button design--------- */
.profile-button {
    display: flex;
    padding: 6px 6px;
    border: 1px solid rgb(253, 143, 143);
    justify-content: center;
    gap: 6px;
    align-items: center;
    border-radius: 4px;
}

.profile-button img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: fill;
}

.profile-button span {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: (253, 143, 143);
}

.post-property {
    display: none;
}




@media only screen and (max-width:467px) {
    header {
        padding: 0px !important;
    }

    .itemlist li {
        font-size: 14px !important;

    }

    .header-logo {
        width: 60px;
    }

    .menubar .create-listing {
        display: none;
    }

    .menubar {
        /* border: 2px solid green; */
        gap: 5px !important;
    }

    .profile-button span {
        font-size: 12px
    }

    ;






}


@media only screen and (max-width:767px) {
    header {
        position: relative;


    }

    .menubar {
        /* border: 2px solid green; */
        gap: 3px;
    }

    .menubar .bar {
        display: block;

    }

    .navbar {
        color: white;

        cursor: pointer;
        display: none;
        position: absolute;
        right: 0%;
        top: 50%;
        width: 80%;

        min-height: 100vh;
        height: 100vh;


        background-color: rgb(56, 42, 42);
        padding: 10px 5px;
        z-index: 999;
        border-radius: 0px;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1),
            /* Box shadow at bottom */
            0px -5px 10px rgba(0, 0, 0, 0.1);
        /* Box shadow at top */
    }

    .navbar .itemlist {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0;
    }

    .itemlist li {
        padding: 10px 15px;
        text-align: right;

        width: 80%;
        font-family:  'Times New Roman', Times, serif;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }

    .itemlist li:hover {
        color: rgb(225, 96, 96);
    }

    .navbartoggle {
        top: 0%;
        display: block;
        min-height: 100vh;
    }

    .post-property {
        display: block;
    }


}





@media only screen and (max-width:925px) {
    header {
        padding: 0px 17px;
    }

    .itemlist {
        gap: 22px;
    }

    .menubar {
        gap: 20px;
    }

    .menubar .create-listing {
        font-size: 12px;
        padding: 5px 8px;
        letter-spacing: 0;
    }
}


@media only screen and (min-width:926px) and (max-width:1125px) {
    header {
        padding: 0px 20px;
    }
}