/* pg main container************************* */
.pg-container {
   /* border: 2px solid red; */
   margin: 20px auto;
   width: 100%;
   padding: 0px 14px;
}


/* all section heading style  */

.pg-section-heading {
   display: flex;
   gap: 6px;

   flex-direction: column;
   align-items: center;
}

.pg-section-heading h1 {
   font-size: 22px;
   text-transform: capitalize;
   font-weight: 600;
   color: rgb(253, 70, 70);
}

.pg-section-heading p {
   font-size: 15px;
   color: rgb(173, 172, 172);
   font-weight: 400;
   text-transform: capitalize;
   letter-spacing: 2px;
}

/* room details css start here************************************* */
.room-basic-details {
   width: 100;
   display: flex;
   flex-direction: column;
   gap: 60px;
   /* flex: 1; */


}

.room-details-1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   flex-wrap: wrap;
   /* border: 2px solid red; */

}

/* room facilities css start here************************** */
.room-details-3 h3 {
   font-size: 18px;
   letter-spacing: 1px;
   font-family: 700;
   font-weight: 800;
   text-transform: capitalize;
   color: red;
}

.amenities-wrapper {
   display: flex;
   gap: 20px;
   align-items: center;
   /* border: 2px solid gray; */
   width: 70%;
   margin: 12px auto;
   flex-wrap: wrap;
}

.room-amenities {
   display: inline-block;
   /* border: 2px solid red; */



}

.room-amenities label {
   font-size: 16px;
   text-transform: capitalize;
   font-weight: 600;
   text-transform: capitalize;
   color: gray;
   cursor: pointer;
}

.room-amenities input {
   /* padding: 2px; */
   margin-left: 4px;
   cursor: pointer;
}






/* amount details css start here**********************************88 */
.room-details-2 {
   /* border: 2px solid gray; */
   width: 100%;
   display: flex;
   align-items: center;

   flex-wrap: wrap;
   gap: 45px;


}

/* input container or INput component css start here*******************************8 */

.input-container {
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 7px;
   width: 35%;
   /* flex: 1; */

}

.input-container label {

   font-size: 14px;
   text-transform: capitalize;
   position: relative;
   font-family: 700;
   font-weight: 600;
   border: 2px solid;
   /* border: 2px solid red; */
   border: none;


}


.input-container input {
   width: 100%;
   padding: 13px 18px;
   outline: none;
   font-size: 15px;
   font-weight: 600;
   color: gray;
   appearance: none;
}






/* pg-section-2 pg details styles   start here++++++++++++++++++++++ */
.pg-section-2 {
   /* border: 2px solid green; */
   margin-top: 30px;
   padding: 0px;
}

.pg-select-category {
   display: flex;
   flex-wrap: wrap;
   margin-top: 22px;
   gap: 20px;
   /* border: 2px solid red; */


}

/* select tag and option tag style *************************** */
.select_container {
   width: 31%;
   margin: 0 10px;
   /* Yeh margin ko adjust karega */
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   gap: 6px;
   align-items: flex-start;

}

.select_container p {
   font-size: 14px;
   font-weight: 600;
   color: gray;
   text-transform: capitalize;


}

.select_container select {
   width: 100%;
   webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   /* border:0!important; */

   background-image: none;
   /* flex: 1; */
   padding: 8px 20px;
   /* color:#fff; */
   cursor: pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   /* width: 30%; */
   text-transform: capitalize;
   border-radius: 3px;
}

.select_container option {
   font-size: 15px;
   text-transform: capitalize;
   font-weight: 400;
   letter-spacing: 2px;
   font-family: serif;
   width: 20%;
   /* padding: 50px 12px ; */
}

/* required class************************************* */

.required {
   position: relative;
   display: inline-block;
}

.required::before {
   position: absolute;
   left: 100%;
   content: "*";
   color: red;
   top: -30%;
   font-family: sans-serif;
   font-weight: 500;

   font-size: 25px;
}

/* other pg-details */
.other-pg-details {
   /* border: 2px solid green; */
   margin-top: 35px;
   display: flex;
   flex-wrap: wrap;

   gap: 10px;

}

.textArea {
   min-width: 350px;
   width: 35%;
   height: 130px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 6px;

}

.textArea textarea {
   width: 100%;
   height: 100%;
}

.textArea label {
   font-size: 14px;
   text-transform: capitalize;
   position: relative;
   font-family: 700;
   font-weight: 600;
   border: 2px solid;
   /* border: 2px solid red; */
   border: none;
}

.pg-rules {
   /* border: 2px solid red; */
   margin-left: 40px;
   
   width: 45%;
}
.pg-rules h3{
   font-size: 14px;
   text-transform: capitalize;
   position: relative;
   font-family: 700;
   font-weight: 600;
   border: 2px solid;
   /* border: 2px solid red; */
   border: none;
   margin-right: 14px;

}

.rules-wrapper{
   /* border: 2px solid yellow; */
   display: flex;
   gap: 10px;
   /* margin-bottom: 0; */
   flex-wrap: wrap;
   /* width: 45%; */
}

/* pg-section4))))))) */
.pg-section-4{
   /* border: 2px solid yellow; */
   padding: 15px 0px;
   margin-top: 13px;
}

/* section-5 */
.pg-section-5{
   /* border: 2px solid green; */
   padding: 13px 0px;
   margin-top: 13px;
}

/* submit button */
.submit_button{
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid red; */
   width: 100%;
   margin-top: 18px;
}
.submit_button button{
   border: none;
   color: white;
   background-color: red;
   font-size: 17px;
   text-transform: capitalize;
   cursor: pointer;
   letter-spacing: 2px;
   font-family: serif;
   outline: none;
   display: inline-block;
   width: 350px;
   padding: 10px 28px;
   transition: all 0.3s ease-in;
}

.submit_button button:hover{
   background-color: rgb(187, 5, 5);
}

.error_border{
   border: 2px solid red;
}



/* responsive 550px ----------------------------------------------------- */
@media only screen and (max-width:549px) {

   .submit_button button{
    width: 80%;
   }
   .select_container {
      width: 100%;
      margin: 7px 0px;

   }

   .pg-section-heading {
      display: flex;
      gap: 2px;

   }

   .pg-section-heading h1 {
      font-size: 14px;

   }

   .pg-section-heading p {
      font-size: 12px;


      letter-spacing: 0px;
   }

   .amenities-wrapper {
      gap: 12px;
      border: 2px solid gray;
      width: 100%;
   }

   .room-amenities label {
      font-size: 12px;

   }

   .room-amenities input {
      /* padding: 2px; */
      margin-left: 4px;
      cursor: pointer;
   }

   .room-details-2 {

      gap: 10px;


   }

   .input-container {

      width: 100%;


   }

   .input-container label {
      font-size: 12px;
      font-weight: 800;
   }

   .room-details-3 h3 {
      font-size: 14px;
      letter-spacing: 0px;
      font-family: 500;
      font-weight: 600;

   }
   .pg-rules{
      width: 100%;
      margin-left: 0;
   }
   .textArea {

    
   min-width: 100%;
   


    
   }
   .rules-wrapper{
      gap: 20px;

   }

}



/* responsive min width 550px and max width 900px */
@media only screen and (min-width:550px) and (max-width:900px) {
   .pg-container {

      width: 100%;
      padding: 0px 10px;
   }

   .select_container {
      width: 45%;
      margin: 7px 6px;
   }
   .input-container{
      /* border: 2px solid green; */
      width: 45%;
   }




}