
/* main rent container */
.rent_container{
    border: 2px solid red;
    width: 100%;
    margin-top: 65px;
    padding: 20px 28px;
}

.prefered_tenats{
    width: 70%;
    /* border: 2px solid green; */
}



@media only screen and (max-width:1024px){
    .prefered_tenats{
        width: 100%;
    }
}

@media only screen and (max-width:767px){
    .rent_container{
        padding: 10px;
    }
   
}