
body{
  background-color: rgb(242, 242, 242);
}

/* filter itme checkbox */
.filter_checkbox_item input[type='checkbox'] {
    display: none;
  }
  .filter_checkbox_item input[type='radio'] {
    display: none;
  }
  
  .filter_checkbox_item label {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #eaeaeaec; /* Default background color */
    color: black; /* Default text color */
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .filter_checkbox_item input[type="checkbox"]:checked + label {
    background-color: #009587; /* Background color when checked */
    color: white; /* Text color when checked */
  }
  .filter_checkbox_item input[type="radio"]:checked + label {
    background-color: #009587; /* Background color when checked */
    color: white; /* Text color when checked */
  }

  /* search main container--- */

.search_page_container{
 
  /* border: 2px solid red; */
 display: flex;
 width: 80%;
 margin: 70px auto;
 flex-wrap: wrap;
}

.search-page-leftsidebar{
/* border: 2px solid red; */
min-width: 300px;
width: 25%;

}
.search-page-section2{
  /* width: 100%; */
border: 2px solid green;
}



  /* pg filter-sidebar--- */
  
  /* select city filter component--- */
  .custom_select_city_box select{
    width: 90%;
  }
  
  .pg_filter_sidebar{
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  
  .pg_filter_sidebar p{
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
    color: black;
    padding: 1rem 0.5rem;
  }

  /* rent filter sidebar */
  .rent_filter_sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .rent_filter_sidebar p{
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
    color: black;
    padding: 1rem 0.5rem;
  }

  


/* responsive mobile screen */



/* responsive for tab */
@media only screen and  (max-width:767px){
   .search_page_container{
   margin: 0px;
    flex-direction: column;
    gap: 20px;
      }
      
      .search-page-leftsidebar{
     display: block;
      width: 100%;
      }
  
}

/* Add your custom CSS styles here */
@media only screen and (max-width: 767px) {
  .hideForMobile {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  .showForMobile {
    height: auto;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
}

@media only screen and (min-width:767px) and (max-width:1024px){
 
  .search-page-leftsidebar{
  /* border: 2px solid red; */
  width: 40%;
  }
  .search-page-section2{
  /* border: 2px solid green; */
  }

}

@media only screen and (max-width:1024px){
  .search_page_container{
    width: 100%;
    margin-top: 65px;
  }
}

@media only screen and (min-width:1240px){
  .search-page-leftsidebar{
    max-width: 350px;
  }
}
